:root {
  --booki-blue: hsl(216, 100%, 49%);
  --booki-blue-hover: hsl(216, 100%, 57%);
  --booki-blue-active: #9ec5ff;
  --booki-blue-light: hsl(216, 100%, 94%);
  --booki-grey: hsl(0, 0%, 95%);
  --booki-shadow-grey: hsl(0, 0%, 85%);
  --booki-bg: hsl(0, 0%, 100%);
  --booki-empty-star: hsl(263, 9%, 82%);

  --booki-width: 1340px;

  font-family: Raleway, sans-serif;
  font-size: 16px;

  background-color: var(--booki-bg);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  max-width: var(--booki-width);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 
  HEADER
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul a {
  display: block;
  padding: 50px 20px;
}

nav ul a.active,
nav ul a:hover {
  color: var(--booki-blue);
  box-shadow: 0px 2px 0px var(--booki-blue) inset;
}

header img {
  width: 140px;
}

/* 
  MAIN - HEADINGS
*/

h1,
h2 {
  font-size: 22px;
  font-weight: bold;
}

h1 {
  margin: 16px 0px;
}

h2 {
  margin-bottom: 22px;
}

p {
  margin-top: 16px;
  margin-bottom: 20px;
}

/* 
  SEARCH FORM
*/

.search-form {
  margin-bottom: 40px;
}

.search-wrapper i,
.search-wrapper input,
.search-wrapper button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px;
}

.search-wrapper input,
.search-wrapper button {
  font-family: inherit;
}

.search-wrapper {
  display: flex;
  margin-bottom: 17px;
}

.search-wrapper i {
  font-size: 26px;
  background-color: var(--booki-grey);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid var(--booki-grey);
}

.search-form input[type="text"] {
  border-radius: 0px;
  border: 1px solid var(--booki-grey);
  width: 250px;
}

.search-form input::placeholder {
  color: black;
  opacity: 1;
}

.search-form input:focus {
  outline: none;
  border-color: var(--booki-blue);
}

.search-form button {
  background-color: var(--booki-blue);
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid var(--booki-blue);
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--booki-blue-hover);
}

.search-form button:active {
  background-color: var(--booki-blue-active);
}

/* 
  SEARCH FORM - FILTERS
*/

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 13px;
  margin-right: 22px;
}

.filters > * {
  margin-top: 13px;
}

.icon-container {
  display: flex;
  position: relative;
  margin-right: 24px;
  cursor: pointer;
}

.icon-container .filter-icon {
  font-size: 25.5px;
  position: absolute;
  left: -6.5px;
  bottom: -1px;
}

.icon-foreground {
  color: var(--booki-blue);
}

.icon-background {
  color: var(--booki-blue-light);
}

.icon-container span:last-of-type {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 22px;
  padding-left: 61px;
  border-radius: 500px;
  border: 2px solid var(--booki-grey);
}

.icon-container input:checked + span {
  background-color: var(--booki-blue-active);
}

.icon-container:hover {
  transform: scale(1.03);
}

.icon-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* 
  RESULTS - INFO
*/

p.results-info {
  margin-bottom: 40px;
  margin-left: 8px;
}

p.results-info i {
  padding: 8px 13px;
  border: 2px solid var(--booki-grey);
  border-radius: 50%;
  margin-right: 12px;
  color: var(--booki-blue);
}

/* 
  LODGINGS
*/

.lodging {
  display: flex;
  margin-bottom: 65px;
}

.results,
.most-popular {
  background-color: var(--booki-grey);
  border-radius: 15px;
}

.results {
  flex: 0 1 calc((((var(--booki-width) - 80px) / 3) * 2) + 40px);
}

.most-popular {
  flex: 0 1 calc((var(--booki-width) - 80px) / 3);
  margin-left: 40px;
}

/* 
CARDS
*/

.results-cards li.card {
  margin: 0 15px 30px 15px;
  flex: 0 1 calc(33.33% - 30px);
}

.most-popular-cards li.card {
  margin-bottom: 33px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px var(--booki-shadow-grey);
}

.card a {
  display: flex;
  padding: 5px;
  height: 100%;
}

.card.img-top a {
  flex-direction: column;
}

.card div.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.img-top div.card-infos {
  padding: 12px 10px 6px 10px;
  height: 100%;
}

.card.img-side div.card-infos {
  padding: 14px 20px 6px 20px;
}

.card h3 {
  font-size: 16px;
  font-weight: bold;
}

.card span {
  font-size: 14px;
  display: block;
  margin-top: 8px;
}

.card.img-top img {
  height: 115px;
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card.img-side img {
  width: 127px;
  aspect-ratio: 127 / 133;
  object-fit: cover;
  flex-shrink: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fas.fa-star {
  color: var(--booki-blue);
  letter-spacing: -3px;
}

.fa-star.empty {
  color: var(--booki-empty-star);
}

/* 
  LODGINGS - RESULTS
*/

.results {
  padding: 0px 29px;
  padding-top: 44px;
}

.results h2 {
  margin-left: 15px;
}

.results-cards {
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results > a {
  display: block;
  margin-left: 15px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: bold;
}

/* 
  LODGING - MOST POPULAR
*/

.most-popular {
  padding: 0px 37px;
  padding-top: 44px;
}

.most-popular > div {
  display: flex;
  justify-content: space-between;
}

.most-popular > div i {
  margin-bottom: 22px;
  font-size: 24px;
}

.most-popular-cards {
  display: flex;
  flex-direction: column;
}

/* 
  ACTIVITIES
*/

.activities {
  margin-bottom: 60px;
}

.activities h2 {
  margin-bottom: 27px;
}

.activities .activities-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 445px;
}

.activities a {
  height: 100%;
  display: block;
  position: relative;
}

.activities li {
  width: calc((100% - 132px) / 4);
}

.activities li.full-size {
  height: 445px;
}

.activities li.half-ish {
  height: 236px;
}

.activities li.small {
  height: 165px;
}

.activities img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 8px var(--booki-shadow-grey);
}

.activities h3 {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* 
  FOOTER
*/

footer {
  width: 100%;
  max-width: calc(var(--booki-width) + 100px);
  background-color: var(--booki-grey);
  display: flex;
  padding: 50px;
}

footer section {
  flex: 0 1 450px;
}

footer h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 22px;
}

footer li {
  margin-top: 18px;
}

@media screen and (max-width: 992px) {
  /* 
    LODGING
  */
  .lodging {
    flex-direction: column-reverse;
  }

  /* 
    LODGING - RESULTS
  */
  .results-cards li.card {
    flex-basis: calc(50% - 30px);
  }

  /* 
    LODGING - MOST POPULAR
  */
  .most-popular {
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .most-popular-cards {
    flex-direction: row;
    justify-content: space-between;
  }

  .most-popular li {
    flex-basis: calc(33.33% - 30px);
  }

  .most-popular-cards img {
    width: 75px;
    aspect-ratio: 75 / 197;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .results-cards li.card {
    flex-basis: calc(100% - 30px);
  }
}
