:root {
  --booki-blue: #0065fc;
  --booki-blue-light: #deebff;
  --booki-card-bg: #f2f2f2;
  --booki-bg: #ffffff;

  --booki-width: 1340px;

  font-family: Raleway, sans-serif;
  font-size: 16px;
  box-sizing: border-box;

  background-color: var(--booki-bg);
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  max-width: var(--booki-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul a {
  display: block;
  padding: 50px 20px;
}

nav ul a.active,
nav ul a:hover {
  color: var(--booki-blue);
  box-shadow: 0px 2px 0px var(--booki-blue) inset;
}

header img {
  width: 140px;
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 768px) {
}
