:root {
  --booki-blue: hsl(216, 100%, 49%);
  --booki-blue-hover: hsl(216, 100%, 57%);
  --booki-blue-active: #9ec5ff;
  --booki-blue-light: hsl(216, 100%, 94%);
  --booki-grey: hsl(0, 0%, 95%);
  --booki-shadow-grey: hsl(0, 0%, 85%);
  --booki-bg: hsl(0, 0%, 100%);
  --booki-empty-star: hsl(263, 9%, 82%);

  --booki-width: 1340px;

  font-family: Raleway, sans-serif;
  font-size: 16px;

  background-color: var(--booki-bg);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > * {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

*:focus {
  outline-color: var(--booki-blue);
  outline-offset: 5px;
}

/* 
  HEADER
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul a {
  display: block;
  padding: 50px 20px;
}

nav ul a.active,
nav ul a:hover {
  color: var(--booki-blue);
  box-shadow: 0px 2px 0px var(--booki-blue) inset;
}

nav ul a:focus {
  outline-offset: 0px;
}

header img {
  width: 100px;
}

/* 
  MAIN - HEADINGS
*/

h1,
h2 {
  font-size: 22px;
  font-weight: bold;
}

h1 {
  margin: 16px 0px;
}

h2 {
  margin-bottom: 22px;
}

p {
  margin-top: 16px;
  margin-bottom: 20px;
}

/* 
  SEARCH FORM
*/

.search-form {
  margin-bottom: 40px;
}

.search-wrapper input,
.search-wrapper button {
  font-family: inherit;
}

.search-wrapper {
  display: flex;
  margin-bottom: 17px;
  position: relative;
  width: fit-content;
}

.search-wrapper i,
.search-form button {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-wrapper input {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px;
}

.search-wrapper i {
  height: 100%;
  font-size: 20px;
  background-color: var(--booki-grey);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid var(--booki-grey);
}

.search-form input[type="text"] {
  border-radius: 0px;
  border: 1px solid var(--booki-grey);
  width: 250px;
}

.search-form input::placeholder {
  color: black;
  opacity: 1;
}

.search-form input:focus {
  outline: none;
  border-color: var(--booki-blue);
}

.search-form button {
  background-color: var(--booki-blue);
  color: white;
  font-size: 18px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid var(--booki-blue);
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--booki-blue-hover);
}

.search-form button:active {
  background-color: var(--booki-blue-active);
}

.search-form button span:last-of-type {
  font-size: 20px;
  display: none;
}

/* 
  SEARCH FORM - FILTERS
*/

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters > span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 13px;
  margin-right: 22px;
}

.filters > * {
  margin-top: 13px;
}

.icon-container {
  display: flex;
  position: relative;
  margin-right: 24px;
  cursor: pointer;
}

.icon-container .filter-icon {
  font-size: 25.5px;
  position: absolute;
  left: -6.5px;
  bottom: -1px;
}

.icon-foreground {
  color: var(--booki-blue);
}

.icon-background {
  color: var(--booki-blue-light);
}

.icon-container span:last-of-type {
  font-size: 18px;
  font-weight: bold;
  padding: 12px 22px;
  padding-left: 61px;
  border-radius: 500px;
  border: 2px solid var(--booki-grey);
}

.icon-container input:checked + span {
  background-color: var(--booki-blue-active);
}

.icon-container:hover {
  transform: scale(1.03);
}

.icon-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.icon-container input:focus + span {
  outline: 1px solid var(--booki-blue);
  outline-offset: 5px;
}

/* 
  RESULTS - INFO
*/

p.results-info {
  margin-bottom: 40px;
  margin-left: 8px;
}

p.results-info i {
  padding: 8px 13px;
  border: 2px solid var(--booki-grey);
  border-radius: 50%;
  margin-right: 12px;
  color: var(--booki-blue);
}

/* 
  LODGINGS
*/

.lodging {
  display: flex;
  margin-bottom: 65px;
}

.lodging section {
  background-color: var(--booki-grey);
  border-radius: 15px;
}

.lodging h2 {
  margin-left: 15px;
}

.results {
  flex: 0 1 calc((((var(--booki-width) - 80px) / 3) * 2) + 40px);
}

.most-popular {
  flex: 0 1 calc((var(--booki-width) - 80px) / 3);
  margin-left: 40px;
}

/* 
CARDS
*/

li.card {
  margin: 0 15px 30px 15px;
}

li.card:hover {
  transform: scale(1.03);
}

.results-cards li.card {
  flex: 0 1 calc(33.33% - 30px);
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 8px var(--booki-shadow-grey);
}

.card a {
  display: flex;
  padding: 5px;
  height: 100%;
}

.card.img-top a {
  flex-direction: column;
}

.card div.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.img-top div.card-infos {
  padding: 12px 10px 6px 10px;
  height: 100%;
}

.card.img-side div.card-infos {
  padding: 14px 20px 6px 20px;
}

.card h3 {
  font-size: 16px;
  font-weight: bold;
}

.card span {
  font-size: 14px;
  display: block;
  margin-top: 8px;
}

.card.img-top img {
  height: 115px;
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card.img-side img {
  width: 127px;
  aspect-ratio: 127 / 133;
  object-fit: cover;
  flex-shrink: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fas.fa-star {
  color: var(--booki-blue);
  letter-spacing: -3px;
}

.fa-star.empty {
  color: var(--booki-empty-star);
}

/* 
  LODGINGS - RESULTS
*/

.results {
  padding: 0px 29px;
  padding-top: 44px;
}

.results-cards {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
}

.results > a {
  display: block;
  margin-left: 15px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: bold;
}

.results > a:hover {
  color: var(--booki-blue);
}

/* 
  LODGING - MOST POPULAR
*/

.most-popular {
  padding: 0px 22px;
  padding-top: 44px;
}

.most-popular > div {
  display: flex;
  justify-content: space-between;
}

.most-popular > div i {
  margin-right: 15px;
  margin-bottom: 22px;
  font-size: 24px;
}

.most-popular-cards {
  display: flex;
  flex-direction: column;
}

/* 
  ACTIVITIES
*/

.activities {
  margin-bottom: 60px;
}

.activities h2 {
  margin-bottom: 27px;
}

.activities .activities-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 445px;
}

.activities a {
  height: 100%;
  display: block;
  position: relative;
}

.activities li {
  width: calc((100% - 132px) / 4);
}

.activities li:hover {
  transform: scale(1.03);
}

.activities li.full-size {
  height: 445px;
}

.activities li.half-ish {
  height: 236px;
}

.activities li.small {
  height: 165px;
}

.activities img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 8px var(--booki-shadow-grey);
}

.activities h3 {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* 
  FOOTER
*/

footer {
  width: 100%;
  max-width: calc(var(--booki-width) + 100px);
  background-color: var(--booki-grey);
  display: flex;
  padding: 50px;
  padding-bottom: 0px;
}

footer section {
  flex: 1;
  margin-right: 22px;
  margin-bottom: 50px;
}

footer h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 22px;
}

footer li {
  margin-top: 18px;
}

footer a:hover {
  color: var(--booki-blue);
}

@media screen and (max-width: 992px) {
  /* 
    LODGING
  */
  .lodging {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .results {
    flex: 0 1 auto;
  }

  .most-popular {
    flex: 0 1 auto;
    margin-left: 40px;
  }

  /* 
    LODGING - RESULTS
  */

  .results-cards {
    margin-bottom: 0px;
  }

  .results > a {
    margin-bottom: 30px;
  }

  /* 
    LODGING - MOST POPULAR
  */
  .most-popular-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .most-popular {
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .most-popular-cards li.card {
    flex: 0 1 calc(33.33% - 30px);
  }

  .card.img-side a {
    flex-direction: column;
  }

  .card.img-side div.card-infos {
    padding: 12px 10px 6px 10px;
    height: 100%;
  }

  .card.img-side img {
    height: 115px;
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /* 
    ACTIVITIES
  */

  .activities {
    margin-bottom: 40px;
  }

  .activities .activities-cards {
    height: 934px;
  }

  .activities li {
    width: calc((100% - 44px) / 2);
  }

  .activities li.full-size {
    height: 445px;
  }

  .activities li.half-ish {
    height: 236px;
  }

  .activities li.small {
    height: 165px;
  }

  #notre-dame {
    order: 1;
  }

  #longchamp {
    order: 2;
  }

  #calanques {
    order: 3;
  }

  /* 
    FOOTER 
  */

  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 30px;
  }

  h1 {
    margin-top: 36px;
  }

  /* 
    HEADER
  */

  header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  header nav {
    flex-basis: 100%;
  }

  header img {
    margin-bottom: 30px;
  }

  nav li {
    flex-basis: 50%;
  }

  nav ul a {
    text-align: center;
    padding: 13px 0px;
    border-bottom: 3px solid var(--booki-grey);
  }

  nav ul a.active,
  nav ul a:hover {
    box-shadow: none;
    border-color: var(--booki-blue);
  }

  /* 
    FORM
  */

  .search-form button span:first-of-type {
    display: none;
  }

  .search-form button span:last-of-type {
    display: block;
  }

  .search-form button {
    height: 100%;
    border-radius: 15px;
    position: absolute;
    right: -30px;
  }

  /* 
  SEARCH FORM - FILTERS
  */

  .filters span:first-of-type {
    flex-basis: 100%;
  }

  /* 
    LODGING - RESULTS
  */

  .results-cards li.card {
    flex-basis: calc(100% - 30px);
  }

  /* 
    LODGING - MOST POPULAR
  */

  .most-popular-cards li.card {
    flex-basis: calc(100% - 30px);
  }

  /* 
    ACTIVITIES
  */

  .activities .activities-cards {
    height: auto;
  }

  .activities li {
    width: 100%;
    margin-bottom: 24px;
  }

  .activities li.full-size,
  .activities li.half-ish,
  .activities li.small {
    height: 190px;
  }
}
